<div>
    <div *ngIf="!this.userService.checkTokenExpired()" class="new-bet">
        <mat-card class="new-bet-card">
            <mat-card-header>
                <mat-card-title>New Bet</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    <mat-form-field>
                        <input style="min-width: 200%;" matInput placeholder="Bet Value" #betValue type="number" required>
                    </mat-form-field>
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button (click)="onMakeBet(betValue.value)">Make Bet</button>
            </mat-card-actions>
            <mat-card-footer>
                {{message}}
            </mat-card-footer>
        </mat-card>
    </div>
    <br>
    <div>
        <mat-card class="lot-card">
            <mat-card-header>
                <mat-card-title>
                    {{lot.name}}
                    <br>
                    Current Bet Value: {{lot.currentBet}}
                </mat-card-title>
                <mat-card-subtitle>
                    {{lot.date}}
                    <br>
                    ID: {{lot.id}}
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                    {{lot.description}}
                </p>
                <hr>
                <p>
                    Author: {{lot.userName}}
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <div *ngIf="lot.bets.length > 0" style="margin-left: 50%; margin-right: auto; margin-top: 10px; margin-bottom: 5px;">
        Bets
    </div>
    <app-bets [bets]="lot.bets"></app-bets>
</div>