<div>
    <mat-card class="registration-card">
        <mat-card-header>
            <mat-card-title>Registration</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>
                <mat-form-field>
                    <input matInput placeholder="UserName" #userName type="text" required>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <input matInput placeholder="Email" #email type="email" required>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <input matInput placeholder="Password" #password type="password" required>
                </mat-form-field>
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button (click)="onRegistration(userName.value, email.value, password.value)">Register</button>
        </mat-card-actions>
    </mat-card>
</div>